<?xml version="1.0" encoding="utf-8"?>
<!-- SPDX-License-Identifier: Apache-2.0 -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.android.nfc.overlay.StOverlay">
    <overlay android:targetPackage="com.android.nfc" android:isStatic="true" android:priority="700" android:targetName="NfcCustomization" android:requiredSystemPropertyName="ro.vendor.hw.nfc.vendor" android:requiredSystemPropertyValue="st" />
</manifest>
